apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: myapp-prod

resources:
  - namespace.yaml
  - ../../base
  - ../../optional/ingress           # only if enabled
  # - ../../optional/loadbalancer
  # - ../../optional/networkpolicy
  # - ../../optional/monitoring

patchesStrategicMerge:
  - patch-deployment.yaml
  - patch-hpa.yaml
