apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: myapp-prod

resources:
  - namespace.yaml
  - ../../apps/myapp
  - ../../base
  # OPTIONAL MODULES:
  # - ../../optional/ingress
  # - ../../optional/loadbalancer
  # - ../../optional/networkpolicy
  # - ../../optional/monitoring

patches:
  - path: patch-deployment.yaml
    target:
      kind: Deployment
      name: myapp

  - path: patch-hpa.yaml
    target:
      kind: HorizontalPodAutoscaler
      name: myapp
