apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: myapp-prod

resources:
  - ../../base
  - ../../apps/myapp

patchesStrategicMerge:
  - patch-deployment.yaml
  - patch-hpa.yaml
