apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: myapp-dev
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: myapp
          image: ghcr.io/your-org/myapp:dev
